<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container text-center">

    <!-- Brand Name -->
    <h4 class="fw-bold mb-2">
      Visionora
    </h4>

    <!-- SOCIAL MEDIA ICONS -->
    <div class="mb-3">
      <a href="#" class="text-light mx-2">
        <i class="fa-brands fa-facebook fa-sm"></i>
      </a>
      <a href="#" class="text-light mx-2">
        <i class="fa-brands fa-instagram fa-sm"></i>
      </a>
      <a href="#" class="text-light mx-2">
        <i class="fa-brands fa-twitter fa-sm"></i>
      </a>
      <a href="#" class="text-light mx-2">
        <i class="fa-brands fa-youtube fa-sm"></i>
      </a>
    </div>

    <!-- COPYRIGHT -->
    <p class="small mb-0">
      © <%= new Date().getFullYear() %> Visionora. All rights reserved.
    </p>

  </div>
</footer>
